node_modules
client/node_modules
server/node_modules
server/logs
server/build
client/build
server/be.zip
server/logs/*

# Environment files
.env
.env.local
.env.development
.env.production
server/.env
client/.env
*.env


all.logs
error.logs